body{
    background-color:whitesmoke;
  
    justify-content: center;
    margin-left: 5%;

}

/*Navbar*/
.nav{
    height: 80px;
    background-color: red;
    position: fixed;
    top: 0;
    width: 90%;
    border-radius: 0px 0px 25px 25px;
}
/* Shot descripsion*/
.short-descripsion{
    height: auto;
    width: 70%;
    background-color: bisque;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 15%;
    padding: auto;
    text-align: center;
    border-radius: 20px;

}

.short-txt{
    padding: auto;
    margin: auto;

    width: 50%;
    height: auto;
    
    font-size:large;
}

.main-container{

    width: 90%;
    margin-left: 5%;
    height: auto;
    
   
   
}
        /*Prefab Area*/
    /*Header area prefab*/

.head-area{
    justify-content: center;
    width: 200px;
    height: auto;
    background-color: green;
    margin: auto;
    border-radius: 20px;
}

.head-area p{
    text-align: center;
    font-size: 48px;
}

    /*Quick note area*/

.note{
    justify-content: center;
    

    padding: auto;
    margin: 10%;    
    width: 80%;
    height: auto;

    background-color: brown;

    border-radius: 20px;
}

.note h3{
    text-align: left;
    margin: 10px;
    font-size: 30px;

}

.note p{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

    /*Code Area*/
.code-container{

    
    margin-top: 80px;
    display: flex;
    gap: 80px;
    row-gap: 150px;
    flex-wrap:wrap;
    justify-content: center;

}


    /*Code Prefab */
.code-card{
    background-color: oklch(71.5% 0.143 215.221);
    display: flex;
    width: 40%;
    height: auto;

    overflow: hidden;
    
   
    border-color:oklch(60.9% 0.126 221.723);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.code-card img {
    height: auto;
    width: 50%;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
}

.code-content{
   width: 50%;
   
   text-align: center;
   overflow:hidden;

   margin: 10px;
   padding: 0px;
}

.code-content h3{
    font-size:24px;
}


.code-content p {
    font-size:18px;
}

/*another area*/